@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "YANKI - Catalog";
}
@using WebApplication1.Models.Shop
@model ShopFull
@{
    <div class="main">
        <div class="main__filter-title">
            Фильтры
            <img src="~/icons/filter.svg" alt="">
            <img src="~/icons/arrow-down-small.svg" alt="">
        </div>
        <div class="main__filters">
            <div class="main__filter-item">
                <div class="main__filter-subtitle">
                    Размер <span class="icon-arrow-down-small"></span>
                </div>
                <div class="main__subfilters">
                    <div class="subfilters__item">
                        S
                    </div>
                    <div class="subfilters__item">
                        M
                    </div>
                    <div class="subfilters__item">
                        L
                    </div>
                </div>
            </div>
            <div class="main__filter-item">
                <div class="main__filter-subtitle"> Цвет <span class="icon-arrow-down-small"></span> </div>
                <div class="main__subfilters">
                    <div class="subfilters__item">
                        Синий
                    </div>
                    <div class="subfilters__item">
                        Кремовый
                    </div>
                    <div class="subfilters__item">
                        Белый
                    </div>
                </div>
            </div>
            <div class="main__filter-item">
                <div class="main__filter-subtitle"> Цена <span class="icon-arrow-down-small"></span> </div>
                <div class="main__subfilters">
                    <div class="subfilters__item">
                        1000 - 2000
                    </div>
                    <div class="subfilters__item">
                        2000 - 3000
                    </div>
                    <div class="subfilters__item">
                        3000+
                    </div>
                </div>
            </div>
            <div class="main__filter-item">
                <div class="main__filter-subtitle"> Сортировать по <span class="icon-arrow-down-small"></span> </div>
                <div class="main__subfilters">
                    <div class="subfilters__item">
                        Возрастанию
                    </div>
                    <div class="subfilters__item">
                        Убыванию
                    </div>
                    <div class="subfilters__item">
                        Рейтингу
                    </div>
                </div>
            </div>
        </div>
        <main class="main__gallery">

        @foreach (var item in Model.products)
            {
                <div class="main__item">
                    <div class="main__fav-button">
                        <span class="icon-favourites"></span>
                    </div>
                    <img src="~/images/@(item.ImageUrl)" alt="">
                    <div class="main__name @("main__name_" + item.Status)">
                        @item.Name
                    </div>
                    <div class="main__price">
                        @item.Price грн
                    </div>
                    <div class="main__sizes">
 
                    @foreach (var size in Model.Product_sizes)
                        {
                            if (size.ProductId == item.Id)
                            {
                                @foreach (var main_size in Model.sizes)
                                {
                                    if (main_size.Id == size.SizeId)
                                    {
                                      <div class="main__size">
                                            @main_size.Name
                                      </div>
                                    }
                                }

                            }
                        }
                    </div>
                    <div class="main__colors">
                    @foreach (var color in Model.colors)
                        {
                            <div class="main__color">
                                <img src="~/icons/color-@(color.Name + ".svg")" alt="">
                            </div>
                        }

                    </div>
                </div>
            }
            <!--
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-1.png" alt="">
                <div class="main__name main__name_new">
                    Белая куртка
                </div>
                <div class="main__price">
                    2900 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XXS
                    </div>
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-2.png" alt="">
                <div class="main__name">
                    Синее пальто
                </div>
                <div class="main__price">
                    3150 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-3.png" alt="">
                <div class="main__name">
                    Бежевая шуба
                </div>
                <div class="main__price">
                    4200 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-4.png" alt="">
                <div class="main__name main__name_new">
                    Синяя парка
                </div>
                <div class="main__price">
                    2900 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XXS
                    </div>
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-1.png" alt="">
                <div class="main__name main__name_new">
                    Белая куртка
                </div>
                <div class="main__price">
                    2900 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XXS
                    </div>
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-2.png" alt="">
                <div class="main__name">
                    Синее пальто
                </div>
                <div class="main__price">
                    3150 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-1.png" alt="">
                <div class="main__name main__name_new">
                    Белая куртка
                </div>
                <div class="main__price">
                    2900 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XXS
                    </div>
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-2.png" alt="">
                <div class="main__name">
                    Синее пальто
                </div>
                <div class="main__price">
                    3150 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-3.png" alt="">
                <div class="main__name">
                    Бежевая шуба
                </div>
                <div class="main__price">
                    4200 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-4.png" alt="">
                <div class="main__name main__name_new">
                    Синяя парка
                </div>
                <div class="main__price">
                    2900 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XXS
                    </div>
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-1.png" alt="">
                <div class="main__name main__name_new">
                    Белая куртка
                </div>
                <div class="main__price">
                    2900 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XXS
                    </div>
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        S
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-c-2.png" alt="">
                <div class="main__name">
                    Синее пальто
                </div>
                <div class="main__price">
                    3150 грн
                </div>
                <div class="main__sizes">
                    <div class="main__size">
                        XS
                    </div>
                    <div class="main__size">
                        M
                    </div>
                    <div class="main__size">
                        L
                    </div>
                </div>
                <div class="main__colors">
                    <div class="main__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="main__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            -->
        </main>
        <aside class="main__sidebar">
            <div class="main__title">
                Каталог <span class="icon-arrow-down"></span>
            </div>
            <div class="main__links">
                <a href="">New</a>
                <a href="">Bestsellers</a>
                @foreach (var category in Model.categories)
                {
                    <a href="">@category.Name</a>
                }
                <!--
                <a href="">Верхняя одежда</a>
                <a href="">Шубы</a>
                <a href="">Тренчи</a>
                <a href="">Пальто</a>
                <a href="">Пуховики и жилеты</a>
                <a href="">Костюмы</a>
                <a href="">Жакеты</a>
                <a href="">Платья</a>
                <a href="">Рубашки и блузы</a>
                <a href="">Юбки</a>
                <a href="">Футболки и топы</a>
                <a href="">Аксессуары</a>
                -->
                <a href="">Sale</a>
                <a href="">Summer</a>
                <a href="">Посмотреть всё</a>
            </div>
        </aside>
    </div>
    <script src="~/js/catalog.js" defer></script>
    <link rel="stylesheet" href="~/css/catalog.css"/>
}
